PORT=3000

GATEWAY_REQUIRE_JWT=true
JWT_SECRET=replace-with-same-secret-as-monolith

CATALOG_SERVICE_URL=http://localhost:3001
FLEET_SERVICE_URL=http://localhost:3002
ORDER_SERVICE_URL=http://localhost:3003
